<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <div class="cart-detail cart-total p-3 p-md-4" style="border-color:#000">

                    <span class="subheading"><strong>Order Details #Q7F00D{{orderNumber}}</strong></span>
                    <p>Submitted date: {{submittedDate | date:'dd-MMMM-yyyy'}}</p>
                    <h2 class="mb-4">Summary</h2>
                    <div class="cart-detail cart-total p-3 p-md-4" style="border-color:#000">
                        <div class="row p-3">
                            <div class="cart-detail p-md-4" style="border-color:#82ae46">
                                <h3 class="mb-4"><strong>Billing Information</strong></h3>
                                <hr>
                                <div class="text-right">
                                <p class="d-flex">
                                    <span><strong>First Name</strong></span>
                                    <span>{{orderDetails.firstName}}</span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>Last Name</strong></span>
                                    <span>{{orderDetails.lastName}}</span>
                                </p>

                                <p class="d-flex">
                                    <span><strong>Email Address</strong></span>
                                    <span>{{orderDetails.email}}</span>
                                </p>

                                <p class="d-flex">
                                    <span><strong>Street Address</strong></span>
                                    <span>{{orderDetails.address}}</span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>Country</strong></span>
                                    <span>{{orderDetails.country}}</span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>City</strong></span>
                                    <span>{{orderDetails.city}}</span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>Phone</strong></span>
                                    <span>{{orderDetails.phone}}</span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>Postcode / ZIP</strong></span>
                                    <span>{{orderDetails.postcode}}</span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>Payment Method</strong></span>
                                    <span>{{orderDetails.paymentMethod}}</span>
                                </p>
                            </div>
                            </div>


                        </div>
                        <div class="row p-3">

                            <div class="cart-detail cart-total p-3 p-md-4" style="border-color:#82ae46">
                                <h3 class="mb-4"><strong>Cart Summary</strong></h3>
                                <hr>

                                <table class="table">
                                   
                                    <tbody>
                                        <tr *ngFor="let item of orderDetails.cartItems">
                                            <td class="image-prod">
                                                <div class="img" style="background-image:url('{{item.photoSrc}}');">
                                                </div>
                                            </td>

                                            <td class="product-name">
                                                <h3>{{item.productName}} x {{item.quantity}}</h3>
                                            </td>

                                            <td class="total">${{item.total | number:'1.2-2'}}</td>
                                        </tr><!-- END TR-->

                                        

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="row p-3" >

                            <div class="cart-detail cart-total p-3 p-md-4" style="border-color:#82ae46">
                                <h3 class="mb-4"><strong>Cart Total</strong></h3>
                                <hr>
                                <div class="text-right">

                                <p class="d-flex">
                                    <span><strong>Subtotal</strong></span>
                                    <span>${{orderDetails.subTotal| number:'1.2-2'}} </span>
                                </p>
                                <p class="d-flex">
                                    <span><strong>Delivery</strong></span>
                                    <span>${{orderDetails.delivery| number:'1.2-2'}}</span>
                                </p>

                                <p class="d-flex">
                                    <span><strong>Discount</strong></span>
                                    <span>- ${{orderDetails.discount| number:'1.2-2'}}</span>
                                </p>

                                <p class="d-flex">
                                    <span><strong>Regional tax ({{44}}%)</strong></span>
                                    <span>+ ${{orderDetails.regionalTax| number:'1.2-2'}}</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span><strong>Total</strong></span>
                                    <span><strong>${{orderDetails.grandTotal| number:'1.2-2'}}</strong></span>
                                </p>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>