<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">My Cart</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">

      <div class="col-md-12 ftco-animate">
        <app-alert></app-alert>

        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>&nbsp;</th>              

                <th>Product name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>

            <tbody>
              <tr class="text-center" *ngFor="let item of cartItems">

                <td class="product-remove">
                  <a (click)="deleteCartItem(item)"title="Remove"><span class="ion-ios-close" title="Remove"></span></a>
                  <a (click)="addToWishlist(item)"title="Add to wishlist"><span class="ion-ios-bookmark"></span></a>
                </td>

                <td class="image-prod">
                  <div class="img" style="background-image:url('{{item.photoSrc}}');"></div>
                </td>

                <td class="product-name">
                  <h3>{{item.productName}}</h3>
                </td>

                <td *ngIf="item.isOnSale" class="price">${{item.priceAfterSale | number:'1.2-2'}}</td>
                <td *ngIf="!item.isOnSale" class="price">${{item.priceBeforeSale|number:'1.2-2'}}</td>

                <td class="quantity">
                  <div class="input-group mb-3">
                    <input (change)="updateQuantity(item, $event)" type="number" name="quantity"
                      class="quantity form-control" value="{{item.quantity}}" min="1" max="99">
                  </div>
                </td>

                <td class="total">${{item.total| number:'1.2-2'}}</td>


              </tr><!-- END TR-->
              
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Coupon Code</h3>
          <p>Enter <strong>NASHTECH</strong>, <strong>QTFOOD</strong> or <strong>ANGULARINTENSIVE</strong> for
            <strong>direct Sub Total discount</strong>
          </p>
          <form [formGroup]="formCoupon" (ngSubmit)="onCouponSubmit()" action="#" class="info">
            <div class="form-group">
              <label for="">Coupon code</label>
              <input formControlName="coupon" type="text" class="form-control text-left px-3" placeholder=""
                [ngClass]="{ 'is-invalid': isCouponSubmitted && formCouponControls.coupon.errors }">
              <div *ngIf="isCouponSubmitted && formCouponControls.coupon.errors" class="invalid-feedback">
                <div *ngIf="formCouponControls.coupon.errors">A coupon code is required</div>


              </div>
              <div *ngIf="invalidCouponError" style="color:red">{{invalidCouponError}}</div>

            </div>
            <input type="submit" value="Apply coupon" class="btn btn-primary py-3 px-4">

          </form>

        </div>
      </div>
      <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Estimate shipping fee</h3>
          <p>Enter your destination to get a shipping estimate</p>
          <form [formGroup]="formCountry" (ngSubmit)="onCountrySubmit()" action="#" class="info">
            <div class="form-group">
              <label for="">Country</label>
              <select formControlName="country" class="form-control text-left px-3" name="countries" id="countries"
                [ngClass]="{ 'is-invalid': isCountrySubmitted && formCountryControls.country.errors }">
                <option *ngFor="let country of countries" value="{{country.value}}">{{country.name}}</option>

              </select>
              <div *ngIf="isCountrySubmitted && formCountryControls.country.errors" class="invalid-feedback">
                <div *ngIf="formCountryControls.country.errors">Please choose a country</div>

              </div>
            </div>
            <input type="submit" value="Estimate" class="btn btn-primary py-3 px-4">

          </form>
        </div>
      </div>
      <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
        <div class="cart-total mb-3">
          <h3>Cart Totals</h3>
          <p class="d-flex">
            <span>Subtotal</span>
            <span>+ ${{calculateCartSubTotal() | number:'1.2-2' }}</span>
          </p>
          <p class="d-flex">
            <span>Delivery</span>
            <span>+ ${{shippingFee| number:'1.2-2' }}</span>
          </p>
          <p class="d-flex">
            <span>Discount ({{discountPercentage}})</span>
            <span>- ${{discountOnSubTotal| number:'1.2-2' }}</span>
          </p>
          <hr>
          <p class="d-flex total-price">
            <span>Total</span>
            <span>${{grandTotal| number:'1.2-2' }}</span>
          </p>
          <button routerLink="/checkout" (click)="storeCheckoutInfo()"class="btn btn-primary py-3 px-4">Proceed to Checkout</button>

        </div>
      </div>
    </div>
  </div>
</section>