<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Checkout</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <form id="checkout-form" [formGroup]="formCheckout" (ngSubmit)="onCheckoutSubmit()" action="#"
            class="billing-form" >
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">

                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input formControlName="firstName" type="text" class="form-control" placeholder="John"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.firstName.errors }">
                                <div *ngIf="submitted && formCheckoutControls.firstName.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.firstName.errors">First Name is required</div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input formControlName="lastName" type="text" class="form-control" placeholder="Doe"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.lastName.errors }">
                                <div *ngIf="submitted && formCheckoutControls.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.lastName.errors">Last Name is required</div>

                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="emailaddress">Email Address</label>
                                <input formControlName="email" type="email" class="form-control" placeholder="quy.trantan@nashtechglobal.com" value="{{checkoutInfo.email}}"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.email.errors }">
                                <div *ngIf="submitted && formCheckoutControls.email.errors" class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.email.errors">Email is required</div>
                                    <div *ngIf="formCheckoutControls.email.errors.email">Incorrect email format</div>

                                </div>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="streetaddress">Street Address</label>
                                <input type="text" class="form-control" placeholder="364 Cong Hoa, Ward 13, Tan Binh Dst"
                                    formControlName="address"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.address.errors }">
                                <div *ngIf="submitted && formCheckoutControls.address.errors" class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.address.errors">Street Address is required</div>

                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select (change)="onCountryChange()" formControlName="country" class="form-control text-left px-3"
                                        name="countries" id="countries"
                                        [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.country.errors }">
                                        <option  *ngFor="let country of countries" value="{{country.value}}">
                                            {{country.name}}</option>

                                    </select>
                                    <div *ngIf="submitted && formCheckoutControls.country.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="formCheckoutControls.country.errors">Please choose a country</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="towncity">City</label>
                                <input type="text" class="form-control" placeholder="Ho Chi Minh" formControlName="city"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.city.errors }">
                                <div *ngIf="submitted && formCheckoutControls.city.errors" class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.city.errors">City is required</div>

                                </div>
                            </div>
                        </div>


                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" placeholder="0123 456 789" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.phone.errors }">
                                <div *ngIf="submitted && formCheckoutControls.phone.errors" class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.phone.errors">Phone is required</div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postcodezip">Postcode / ZIP</label>
                                <input type="text" class="form-control" placeholder="700000" formControlName="postcode"
                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.postcode.errors }">
                                <div *ngIf="submitted && formCheckoutControls.postcode.errors" class="invalid-feedback">
                                    <div *ngIf="formCheckoutControls.postcode.errors">Postcode / ZIP is required</div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Cart Total</h3>
                                <p class="d-flex">
                                    <span>Subtotal</span>
                                    <span>+ ${{checkoutInfo.subTotal | number:'1.2-2' }}</span>
                                </p>
                                <p class="d-flex">
                                    <span>Delivery</span>
                                    <span>+ ${{tempDeliveryFee | number:'1.2-2' }}</span>
                                </p>
                                
                                <p class="d-flex">
                                    <span>Discount</span>
                                    <span>- ${{checkoutInfo.discount | number:'1.2-2' }}</span>
                                </p>
                                
                                <hr>
                                <p class="d-flex">
                                    <span>Regional tax ({{taxFee}}%)</span>
                                    <span>+ ${{taxFeeOnSubTotal | number:'1.2-2' }}</span>
                                  </p>
                                <p class="d-flex total-price">
                                    <span>Total</span>
                                    <span>${{tempGrandTotal| number:'1.2-2' }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Payment Method</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" checked="checked" formControlName="paymentMethod"
                                                    class="mr-2" value="Credit / Debit Card"
                                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.paymentMethod.errors }">
                                                Credit / Debit Card</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" formControlName="paymentMethod" class="mr-2"
                                                    value="Cash on Delivery"
                                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.paymentMethod.errors }">
                                                Cash on Delivery</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" formControlName="paymentMethod" class="mr-2"
                                                    value="Paypal"
                                                    [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.paymentMethod.errors }">
                                                Paypal</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="submitted && formCheckoutControls.paymentMethod.errors" class="" style="color:red">
                                    <div *ngIf="formCheckoutControls.paymentMethod.errors">A payment method is required
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <input type="checkbox" formControlName="acceptTermConditions" class="mr-2"
                                                [ngClass]="{ 'is-invalid': submitted && formCheckoutControls.acceptTermConditions.errors}">
                                            I have read and accept the
                                            terms and conditions

                                        </div>
                                    </div>

                                </div>
                                <div *ngIf="submitted && formCheckoutControls.acceptTermConditions.errors" class="" style="color:red">
                                    <div *ngIf="formCheckoutControls.acceptTermConditions.errors">Terms and
                                        conditions must be agreed upon placing order</div>

                                </div>

                            </div>
                            <input type="submit" form="checkout-form" value="Place an order"
                                class="btn btn-primary py-3 px-4">
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            </div>
        </form><!-- END -->

    </div>
</section> <!-- .section -->